<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-8 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
              <li><a href="https://clsu.edu.ph/">{{ _('Copyright © 2024 | Central Luzon State University - Department of Information Technology | All Rights Reserved') }}</a></li>
          </ul>
        {% endblock %}
      </div>

    </div>
    {% endblock %}
  </div>
</footer>
